@using WebApp.Client.Models.ApiModels;

@if (DepartmentRowItem is not null)
{
    <tr>
        @if (!isEditMode)
        {
            <td>@DepartmentRowItem.Id</td>
            <td>@DepartmentRowItem.Name</td>
            <td>
                <a @onclick="() => isEditMode = true" href="javascript:void(0)">Edit</a>
                <a @onclick="async () => await OnDelete.InvokeAsync(DepartmentRowItem.Id)" href="javascript:void(0)">Delete</a>
            </td>
        }
        else
        {
            <td>
                <input @bind="DepartmentRowItem.Id" class="form-control" />
            </td>
            <td>
                <input @bind="DepartmentRowItem.Name" class="form-control" />
            </td>
            <td>
                <a @onclick="Update" href="javascript:void(0)">Save</a>
                <a @onclick="() => isEditMode = false" href="javascript:void(0)">Cancel</a>
            </td>
        }
    </tr>
}

@code{
    [Parameter]
    public Department DepartmentRowItem { get; set; }

    private bool isEditMode = false;

    [Parameter]
    public EventCallback<int> OnDelete { get; set; }

    [Parameter]
    public EventCallback<Department> OnEdit { get; set; }

    private async Task Update()
    {
        await OnEdit.InvokeAsync(DepartmentRowItem);
        isEditMode = false;
    }
}